/* category */
.category{
    display: flex;
    justify-content: space-around;
}
.category .category-item {
    background-color: var(--color-yellow);
    width: 23%;
    text-align: center;
    border-radius: 8px;
    padding: 18px 0;
}
.category .category-item h2{
    margin: 0;
    text-transform: capitalize;
}
@media (max-width: 992px) {
    .category .category-item h2{
        font-size: 25px;
    }
}
@media (max-width: 768px) {
    .category{
        flex-wrap: wrap;
    }
    .category .category-item {
        width: 48%;
        margin-bottom: 12px;
    }
}
/* End category */


/* Producst */
.Products-list .inner-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.Products-list .inner-item{
    width: 18%;
    background-color: antiquewhite;
    margin-bottom: 1.5%;
    
}
.Products-list .inner-item .inner-img{
    position: relative;
}
.Products-list .inner-item .inner-img img{
    width: 100%;
}
.Products-list .inner-item .inner-img span{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--color-yellow);
    border-radius: 10px;
    padding: 6px;
    font-size: 13px;
    font-weight: bold;
}
.Products-list .inner-item .inner-title{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    
}
.Products-list .inner-item .inner-title h3{
    font-size:18px;
    margin: 0;
    margin-top: 10px;
}
.Products-list .inner-item .inner-price{
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Products-list .inner-item .inner-price p{
    margin: 0;
}
.Products-list .inner-item .inner-price p:first-child{
    font-size: 20px;
    color: red;
}

@media (max-width: 992px) {
    .Products-list .inner-item{
        width: 23%;
    }
}
@media (max-width: 768px) {
    .Products-list .inner-item{
        width: 48%;
    }
}
@media (max-width: 576px) {
    .Products-list .inner-item{
        width: 100%;
    }
    .Products-list .inner-item .inner-title h3{
        font-size: 25px;
    }
    .Products-list .inner-item .inner-price{
        margin: 15px 0;
    }
    .Products-list .inner-item .inner-price p{
        font-size: 20px;
    }
    .Products-list .inner-item .inner-price p:first-child{
        font-size: 25px;
    }
}
/* End Producst */